@import "../components/Icon/css/icons.css";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--background-color-gradient);
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.main {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("/images/designs.png");
    background-size: 180px;
}

:root {
    --background-color-1: rgba(217, 42, 33, 1);
    --background-color-2: rgba(237, 85, 68, 1);
    --background-color-3: rgba(248, 158, 96, 1);
    --background-color-4: #1D1D1D;
    --background-color-5: #EE877A;
    --background-color-gradient: linear-gradient(180deg, rgba(217, 42, 33, 1) 0%, rgba(237, 85, 68, 1) 50%, rgba(248, 158, 96, 1) 100%);
    --text-white: #E7EFF3;
    --text-dark: rgba(0, 0, 0, 0.69);
    --text-gray: rgba(72, 71, 71, 0.77);
    --box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background-color: var(--background-color-2);
}

::-webkit-scrollbar-track:hover {
    background-color: var(--background-color-1);
}

button:focus {
    outline: none;
}