.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    z-index: 100;
}

.loading {
    font-size: 1.8rem;
    font-weight: 800;
    color: var(--text-white);
}

.input {
    width: 100%;
    font-size: 1.3rem;
    border-color: transparent;
    padding: .5rem;
    border: 5px solid var(--background-color-3);
    border-radius: 16px;
}

.input:focus {
    outline: transparent!important;
}

.saveButton {
    font-size: 1.5rem;
    border: 3px solid var(--text-white);
    border-radius: 10px;
    padding: 1.2%;
    color: var(--text-white);
    background-color: var(--background-color-2);
    cursor: pointer;
}

.saveButton:hover {
    background-color: var(--background-color-1);
}

.errorMessage {
    position: absolute;
    top: 130%;
    left: 0;
    width: 100%;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: 15px 0;
    text-align: center;
    border-radius: 8px;
    color: var(--text-white);
    background-color: var(--background-color-2);
}