.container {
    position: absolute;
    top: 54%;
    left: 58%;
    transform: translate(-54%, -58%);
    z-index: 100;
}

.button {
    width: max-content;
    height: max-content;
    padding: 4px 6px;
    border: 3px solid var(--text-white);
    border-radius: 30%;
    color: var(--text-white);
    background: var(--background-color-2);
    box-shadow: var(--box-shadow);
    cursor: pointer;
}

.button:hover {
    background: var(--background-color-1);
}

.content {
    position: absolute;
    left: 45px;
    bottom: 0;
    width: 360px;
    height: 160px;
    background: var(--text-white);
    border: 5px solid var(--background-color-3);
    box-shadow: var(--box-shadow);
    border-radius: 10px;
}
