@font-face {
font-family: "icons";
src: url("../fonts/icons.eot?40058ea368f0c2f28727f4010959d861#iefix") format("embedded-opentype"),
url("../fonts/icons.svg?40058ea368f0c2f28727f4010959d861#icons") format("svg"),
url("../fonts/icons.ttf?40058ea368f0c2f28727f4010959d861") format("truetype"),
url("../fonts/icons.woff?40058ea368f0c2f28727f4010959d861") format("woff"),
url("../fonts/icons.woff2?40058ea368f0c2f28727f4010959d861") format("woff2");
}

    i[class^="icon-"]:before, i[class*=" icon-"]:before {
font-family: icons !important;
font-style: normal;
font-weight: normal !important;
font-variant: normal;
text-transform: none;
line-height: 1;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

        .icon-clock:before {
    content: "\f101";
    }
        .icon-close:before {
    content: "\f102";
    }
        .icon-dog:before {
    content: "\f103";
    }
        .icon-edit:before {
    content: "\f104";
    }
        .icon-flag:before {
    content: "\f105";
    }
        .icon-hanger:before {
    content: "\f106";
    }
        .icon-info:before {
    content: "\f107";
    }
        .icon-keyboard:before {
    content: "\f108";
    }
        .icon-link-external:before {
    content: "\f109";
    }
        .icon-media:before {
    content: "\f10a";
    }
        .icon-play:before {
    content: "\f10b";
    }
        .icon-rankings:before {
    content: "\f10c";
    }
        .icon-restart:before {
    content: "\f10d";
    }
        .icon-save:before {
    content: "\f10e";
    }
        .icon-settings:before {
    content: "\f10f";
    }
        .icon-up:before {
    content: "\f110";
    }
        .icon-users:before {
    content: "\f111";
    }
        .icon-volume-off:before {
    content: "\f112";
    }
        .icon-volume-up:before {
    content: "\f113";
    }
        .icon-wallet:before {
    content: "\f114";
    }
