@font-face {
font-family: "icons";
src: url("../fonts/icons.eot?ae808ca0dae8f01332aaba2c2e31b297#iefix") format("embedded-opentype"),
url("../fonts/icons.svg?ae808ca0dae8f01332aaba2c2e31b297#icons") format("svg"),
url("../fonts/icons.ttf?ae808ca0dae8f01332aaba2c2e31b297") format("truetype"),
url("../fonts/icons.woff?ae808ca0dae8f01332aaba2c2e31b297") format("woff"),
url("../fonts/icons.woff2?ae808ca0dae8f01332aaba2c2e31b297") format("woff2");
}

    i[class^="icon-"]:before, i[class*=" icon-"]:before {
font-family: icons !important;
font-style: normal;
font-weight: normal !important;
font-variant: normal;
text-transform: none;
line-height: 1;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

        .icon-close:before {
    content: "\f101";
    }
        .icon-dog:before {
    content: "\f102";
    }
        .icon-flag:before {
    content: "\f103";
    }
        .icon-info:before {
    content: "\f104";
    }
        .icon-keyboard:before {
    content: "\f105";
    }
        .icon-media:before {
    content: "\f106";
    }
        .icon-play:before {
    content: "\f107";
    }
        .icon-rankings:before {
    content: "\f108";
    }
        .icon-restart:before {
    content: "\f109";
    }
        .icon-save:before {
    content: "\f10a";
    }
        .icon-settings:before {
    content: "\f10b";
    }
        .icon-up:before {
    content: "\f10c";
    }
        .icon-volume-off:before {
    content: "\f10d";
    }
        .icon-volume-up:before {
    content: "\f10e";
    }
        .icon-wallet:before {
    content: "\f10f";
    }
