.container {
    position: absolute;
    top: 29.5%;
    left: 50%;
    transform: translate(-29.5%, -50%);
    width: max-content;
    height: max-content;
    padding: 4px 6px;
    border: 3px solid var(--text-white);
    border-radius: 30%;
    color: var(--text-white);
    background: var(--background-color-2);
    box-shadow: var(--box-shadow);
    cursor: pointer;
    z-index: 100;
}